<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">   
     
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
          <param-name>jersey.config.server.provider.packages</param-name>
          <param-value>org.alertflex</param-value>
      </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>JDBCRealm</realm-name>
    </login-config>
    
    <security-constraint>
        
        <display-name>REST interface</display-name>
        
        <web-resource-collection>
            <web-resource-name>Alert area</web-resource-name>
            <url-pattern>/rest/alerts/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Playbook area</web-resource-name>
            <url-pattern>/rest/playbook/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>STIX area</web-resource-name>
            <url-pattern>/rest/stix-alerts/*</url-pattern>
        </web-resource-collection>
        
        <auth-constraint>
            <description/>
            <role-name>admin</role-name>
            <role-name>user</role-name>
        </auth-constraint>
        
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    
    </security-constraint>
    
    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>user</role-name>
    </security-role>

</web-app>