body {
	background: #4A5C69;
}

a {
    color: #fff;
}

.navbar {
  font-size: 15px;
  color: #424242;
}

.navbar-brand {
	text-transform: none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #424242;
	height: 60px;
}

.navbar-default .navbar-brand>li>a:hover, .navbar-default .navbar-brand>li>a:focus {
	color: #424242;
	height: 60px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #424242;
	height: 60px;
}


.navbar-default .navbar-nav>li>a {
    color: #424242;
}

.navbar-default .navbar-brand {
    color: #424242;
}

.dropdown-menu>li>a:hover {
    color: #424242;
    background-color: #eeeeee;
    border-color: #fff;
}

.dropdown-menu>li>a:active {
    color: #424242;
    background-color: #eeeeee;
	border-color: #fff;
}

.jumbotron {
  text-align: center;
  color: #000;
  background: #4A5C69;
  padding-bottom: 25px;
}

.jumbotron p {
  color: #000;
  font-size: 15px;
  font-weight: 200;
}

.jumbotron strong {
	color: #000;
	font-size: 25px;
	font-weight: bold;
}


@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 900px;
  }

}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}














